@model Program

@{
    ViewData["Title"] = "RoleList";
    //Layout = "C:/Users/PC/Masaüstü/www.kouarge.org/www.kouarge.org/Pages/Shared/_Layout.cshtml";
     Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>RoleList</h2>

