@model ErrorViewModel
@{
    ViewData["Title"] = "Forbidden";
}

<h1 class="text-danger">Error. Fobidden</h1>
 
@*@if(Model.Errors.Any())
{
    <div class="alert alert-danger">
        @foreach (var item in Model.Errors)
        {
            <p>@item</p>
        }
    </div>
}*@