@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kocaeli Üniversitesi Ar-Ge ve İnovasyon Kulübü</title>
    <meta name="description" content="Kocaeli Üniversitesi Ar-Ge ve İnovasyon Kulübü">
    <meta name="keywords"
          content="Kocaeli Üniversitesi Ar-Ge ve İnovasyon Kulübü">

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link href="~/cssv2/style.min.css" rel="stylesheet" />
    <link href="~/cssv2/style.css" rel="stylesheet" />
    <link href="~/cssv2/styles-merged.css.map" />
    <link href="~/cssv2/styles-merged.css" rel="stylesheet" />
    <link href="~/cssv2/custom.css" rel="stylesheet" />
</head>

<body>



    <div class="probootstrap-page-wrapper">
        <!-- Fixed navbar -->
        <!--HEADER-->
        <div class="probootstrap-header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info">
                        <span><i class="icon-location2"></i>Kocaeli Üniversitesi Umuttepe Yerleşkesi</span>
                        <span><i class="icon-mail"></i>iletisim@kouarge.org</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 color1 probootstrap-top-social">
                        <ul>
                            <li><a href="https://twitter.com/kouargekulup" target="_blank"><i class="icon-twitter"></i></a></li>
                            <li>
                                <a href="https://www.instagram.com/kouargeveinovasyon/" target="_blank">
                                    <i class="icon-instagram2"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/arge-ve-i%CC%87novasyon-kul%C3%BCb%C3%BC/" target="_blank">
                                    <i class="icon-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0" target="_blank"><i class="icon-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--NAVBAR-->
        <nav class="navbar navbar-default probootstrap-navbar">
            <div class="container">
                <div class="navbar-header">
                    <div class="btn-more js-btn-more visible-xs">
                        <a href="#"><i class="icon-dots-three-vertical "></i></a>
                    </div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*<a class="navbar-brand" href="tIndex.html" title="ProBootstrap:Enlight">Enlight</a>*@
                    <div class="navbar-brand" style="background-size: cover;"></div>
                </div>

                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Maintenance">Ana Sayfa</a></li>
                        <li class="active"><a href="/account/register">Kayıt Ol</a></li>
                        <li><a href="/Maintenance">Etkinliklerimiz</a></li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Hakkımızda</a>
                            <ul class="dropdown-menu">
                                <li><a href="/Maintenance">Hakkımızda</a></li>
                                <li><a href="/Maintenance">Ekibimiz</a></li>
                                <li><a href="/Maintenance">Formatlarımız</a></li>
                                <li><a href="/Maintenance">Galeri</a></li>
                            </ul>
                        </li>
                        <li><a href="/Maintenance">İletişim</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--MAIN CONTENT HEADER-->
        <section style="padding:3em 0 !important;" class="probootstrap-section probootstrap-section-colored">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-left section-heading probootstrap-animate">
                        <h2 style="margin-top:15px;position:absolute">KOÜ Ar-Ge ve İnovasyon Kulübüne Hoş Geldin!</h2>
                        <br />
                        <br />
                        <br />
                        <h2 style="position:absolute">Kişisel Verilerin Korunmasi Kanunu</h2>
                    </div>
                </div>
            </div>
        </section>

        <section style="padding:1em 0 !important;" class="probootstrap-section">
            <div class="container">
                <div class="post-wrapper">
                    <div class="entry-container">
                        <div class="entry-content">
                            <p></p>

                            <p>İşbu Aydınlatma Metni, <strong>Kocaeli Üniversitesi Ar-Ge ve İnovasyon Kulübü</strong>(“<strong>Kulüp</strong>”) tarafından Kulüp&#8217;ün müşterilerinin 6698 sayılı Kişisel Verilerin Korunması Kanunu (“<strong>Kanun</strong>”) kapsamında kişisel verilerinin Kulüp tarafından işlenmesine ilişkin olarak aydınlatılması amacıyla hazırlanmıştır.</p>

                            <p>Kişisel verilerinizin işbu Aydınlatma Metni kapsamında işlenmesine ilişkin detaylı bilgilere <a href="https://kouarge.com/bize-ulasin/" title="Bize ulaşın">www.kouarge.com</a> adresinde yer alan <strong>Kocaeli Üniversitesi Ar-Ge ve İnovasyon Kulübü </strong>Kişisel Verilerin Korunması ve İşlenmesi Politikası’ndan ulaşabilirsiniz.</p>

                            <p><strong>a) Kişisel Verilerin Elde Edilme Yöntemleri ve Hukuki Sebepleri</strong></p>

                            <p>Kişisel verileriniz, elektronik veya fiziki ortamda toplanmaktadır. İşbu Aydınlatma Metni’nde belirtilen hukuki sebeplerle toplanan kişisel verileriniz Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları çerçevesinde işlenebilmekte ve paylaşılabilmektedir.</p>

                            <p><strong>b) Kişisel Verilerin İşleme Amaçları</strong></p>

                            <p>Kişisel verileriniz, Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları çerçevesinde <strong>Kulüp</strong> tarafından sunulan ürün ve hizmetlerin ilgili kişilerin beğeni, kullanım alışkanlıkları ve ihtiyaçlarına göre özelleştirilerek ilgili kişilere önerilmesi ve tanıtılması için gerekli olan aktivitelerin planlanması ve icrası, <strong>Kulüp</strong> tarafından sunulan ürün ve hizmetlerden ilgili kişileri faydalandırmak için gerekli çalışmaların iş birimleri tarafından yapılması ve ilgili iş süreçlerinin yürütülmesi, <strong>Kulüp</strong> tarafından yürütülen ticari faaliyetlerin gerçekleştirilmesi için ilgili iş birimleri tarafından gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi, <strong>Kulüp&#8217;ün</strong> ticari ve/veya iş stratejilerinin planlanması ve icrası ve <strong>Kulüp&#8217;ün</strong> ve <strong>Kulüp</strong>‘le iş ilişkisi içerisinde olan ilgili kişilerin hukuki, teknik ve ticari-iş güvenliğinin temini amaçlarıyla işlenmektedir.</p>

                            <p><strong>c) Kişisel Verilerin Paylaşılabileceği Taraflar ve Paylaşım Amaçları</strong></p>

                            <p>Kişisel verileriniz, Kanun’un 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde, <strong>Kulüp</strong> tarafından sunulan ürün ve hizmetlerin ilgili kişilerin beğeni, kullanım alışkanlıkları ve ihtiyaçlarına göre özelleştirilerek ilgili kişilere önerilmesi ve tanıtılması için gerekli olan aktivitelerin planlanması ve icrası, <strong>Kulüp</strong> tarafından sunulan ürün ve hizmetlerden ilgili kişileri faydalandırmak için gerekli çalışmaların kulüp birimleri tarafından yapılması ve ilgili iş süreçlerinin yürütülmesi, <strong>Kulüp</strong> tarafından yürütülen sosyal ve ticari faaliyetlerin gerçekleştirilmesi için ilgili iş birimleri tarafından gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi, <strong>Kulüp&#8217;ün</strong> sosyal,ticari ve/veya iş stratejilerinin planlanması ve icrası ve <strong>Kulüp&#8217;ün</strong> ve <strong>Kulüp</strong>‘le iş ilişkisi içerisinde olan ilgili kişilerin hukuki, teknik ve ticari-iş güvenliğinin temini amaçları dahilinde <strong>Kulüp&#8217;ün </strong>sponsorları, iş ortakları ve tedarikçileri ile hukuken yetkili kurum ve kuruluşlar ile hukuken yetkili özel hukuk tüzel kişileriyle paylaşılabilecektir.</p>

                            <p><strong>d) Veri Sahiplerinin Hakları ve Bu Hakların Kullanılması</strong></p>

                            <p>Kişisel veri sahipleri olarak aşağıda belirtilen haklarınıza ilişkin taleplerinizi <strong>Veri Sahipleri Tarafından Hakların Kullanılması başlığı altında </strong>belirtilen yöntemlerle Kulüp’e iletmeniz durumunda talepleriniz Kulüpimiz tarafından mümkün olan en kısa sürede ve her halde 30 (otuz) gün içerisinde değerlendirilerek sonuçlandırılacaktır.</p>

                            <p><strong>Kişisel Verileri Koruma Kanunu’nun 11. maddesi gereği haklarınız</strong>; Kulübümüze başvurarak, kişisel verilerinizin;</p>

                            <ul><li>İşlenip işlenmediğini öğrenme,</li><li>İşlenmişse bilgi talep etme,</li><li>İşlenme amacını ve amacına uygun kullanılıp kullanılmadığını öğrenme,</li><li>Yurt içinde / yurt dışında aktarıldığı 3. kişileri bilme,</li><li>Eksik / yanlış işlenmişse düzeltilmesini isteme,</li><li>KVKK’nın 7. maddesinde öngörülen şartlar çerçevesinde silinmesini / yok edilmesini isteme,</li><li>Aktarıldığı 3. kişilere yukarıda sayılan (e) ve (f) bentleri uyarınca yapılan işlemlerin bildirilmesini isteme,</li><li>Münhasıran otomatik sistemler ile analiz edilmesi nedeniyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme,</li><li>Kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız hâlinde zararın giderilmesini talep etme haklarına sahipsiniz.</li></ul>

                            <p>KVK Kanunu’nun 13. maddesinin 1. fıkrası gereğince, yukarıda belirtilen haklarınızı kullanmak ile ilgili talebinizi, yazılı olarak veya Kişisel Verileri Koruma Kurulu’nun belirlediği diğer yöntemlerle organizasyonumuza iletebilirsiniz.</p>

                            <p><strong>Veri Sahipleri Tarafından Hakların Kullanılması</strong></p>

                            <ul><li>Veri sahipleri, yukarıda bahsi geçen hakları kullanmak için <a href="mailto:iletisim@kouarge.org" title="mailto:iletisim@kouarge.org">iletisim@kouarge.com</a> adresine dilekçenizi güvenli elektronik imzalı olarak iletebilirsiniz.</li><li>Başvurular, ilgili veri sahibinin kimliğini tespit edecek belgelerle birlikte, aşağıdaki yöntemlerden biri ile gerçekleştirilecektir:</li><li>Kişisel Verileri Koruma Kurulu tarafından öngörülen bir yöntemin izlenmesi.</li><li><strong>Kulüp</strong>, Kanun’da öngörülmüş sınırlar çerçevesinde söz konusu hakları kullanmak isteyen veri sahiplerine, yine Kanun’da öngörülen şekilde azami otuz (30) gün içerisinde cevap vermektedir. </li><li>Kişisel veri sahipleri adına üçüncü kişilerin başvuru talebinde bulunabilmesi için veri sahibi tarafından başvuruda bulunacak kişi adına noter kanalıyla düzenlenmiş özel vekâletname bulunmalıdır.</li><li><strong>Kulüp</strong>, başvuruda bulunan kişinin kişisel veri sahibi olup olmadığını tespit etmek adına ilgili kişiden bilgi talep edebilir, başvuruda belirtilen hususları netleştirmek adına, kişisel veri sahibine başvurusu ile ilgili soru yöneltebilir.</li></ul>
                        </div>
                    </div>
        </section>

        <!--UPPER FOOTER-->
        <section class="probootstrap-cta">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="probootstrap-animate" data-animate-effect="fadeInRight">
                            Şimdi aramıza katılmak ister
                            misin?
                        </h2>
                        <a href="/account/register" role="button" class="btn btn-primary btn-lg btn-ghost probootstrap-animate"
                           data-animate-effect="fadeInLeft">Kayıt Ol</a>
                    </div>
                </div>
            </div>
        </section>

        <!--FOOTER-->
        <footer class="probootstrap-footer probootstrap-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="probootstrap-footer-widget">
                            <h3>Hakkımızda</h3>
                            <p>
                                Kocaeli Üniversitesi Ar-Ge ve İnovasyon Kulübü olarak 31 Ocak 2018 tarihinde ÖKÜK’e
                                (Öğrenci Kulüpleri Üst Kurulu) bağlı
                                olarak kuruldu. Kocaeli Üniversitesi Ar-Ge İnovasyon Kulübü olarak yürüteceğimiz
                                çalışmalar ile üniversitemizde Ar-Ge ve
                                İnovasyon kültürünü oluşturma düşüncesini benimsemekteyiz...
                            </p>
                            <h3>Sosyal Medya</h3>
                            <ul class="probootstrap-footer-social">
                                <li><a href="https://twitter.com/kouargekulup"><i class="icon-twitter"></i></a></li>
                                <li>
                                    <a href="https://www.instagram.com/kouargeveinovasyon/">
                                        <i class="icon-instagram2"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/arge-ve-i%CC%87novasyon-kul%C3%BCb%C3%BC/">
                                        <i class="icon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
                                        <i class="icon-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-push-1">
                        <div class="probootstrap-footer-widget">
                            <h3>Sayfalar</h3>
                            <ul>
                                <li><a href="/Maintenance">Ana Sayfa</a></li>
                                <li><a href="/Maintenance">Ekibimiz</a></li>
                                <li><a href="/Maintenance">İletişim</a></li>
                                <li><a href="#">KVKK</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="probootstrap-footer-widget">
                            <h3>İletişim Bilgileri</h3>
                            <ul class="probootstrap-contact-info">
                                <li>
                                    <i class="icon-location2"></i> <span>
                                        Kocaeli Üniversitesi Umuttepe Kampüsü, Kocaeli,
                                        Marmara 41000, TR
                                    </span>
                                </li>
                                <li><i class="icon-mail"></i><span>iletisim@kouarge.org</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- END row -->

            </div>

            <div class="probootstrap-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 text-left">
                            <p>
                                &copy; 2022 Kocaeli Üniversitesi Ar-Ge ve İnovasyon Kulübü  <i class="icon icon-heart"></i>
                            </p>
                        </div>
                        <div class="col-md-4 probootstrap-back-to-top">
                            <p><a href="#" class="js-backtotop">Back to top <i class="icon-arrow-long-up"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <script src="~/js/vendor/jquery.min.js"></script>



    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/scripts.min.js"></script>
    <script src="~/js/main.min.js"></script>
    <script src="~/js/custom.js"></script>

</body>

</html>