/Home/Index

@{
    //String img64 = Convert.ToBase64String(ViewBag.ImageUrl);
    //String img64Url = string.Format("data:image/jpg;base64,{0}", img64); //imagetype can be e.g. gif, jpeg, png etc.
}
@*<img src="data:image/png;base64,@ViewBag.ImageUrl" />*@

<div>div</div>
 