@{
    ViewData["Title"] = "Privacy Policy";
}
@{
    ViewData["Title"] = "Users";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
