
@{
    ViewData["Title"] = "Admin Role";
}

<h2>Admin Role</h2>
<a class="btn btn-primary" asp-action="AddRole" asp-controller="Role">New</a>
<table class="table table-stripped">
	<thead>
		<tr>
			<td>Id</td>
			<td>Name</td>
		</tr>
	</thead>
	<tbody>

		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
			@*	<td> 
				<a class="btn btn-warning" asp-action="update" asp-controller="Role" asp-route-id="@item.Id">Update</a>	
				</td>*@
			   <td> 
				<a class="btn btn-danger" asp-action="DeleteRole" asp-controller="Role" asp-route-id="@item.Id">Delete</a>	
				</td>
			</tr>
		}

	</tbody>
</table>
